body {
  background-color: #a964bc;
}

.login-form {
  background-color: white;
  border-radius: 5px;
  margin: 100px auto;
  box-sizing: border-box;
  width: 400px;
  padding: 20px 40px;
  box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

.invisible {
  visibility: hidden;
}

.login-form h1 {
  margin: 10px 0 10px 0;
}

.error-message-box {
  padding: 10px;
  border-radius: 6px;
  background-color: #eb86a3;
  margin-bottom: 10px;
}

.error-message-box p {
  margin: 0;
  text-align: center;
}

.input-container {
  position: relative;
  margin-top: 10px;
}

.label-container {
  position: absolute;
  top: 5px;
  left: 7px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.15s ease-out;
}

.label-container label {
  color: #00000052;
  padding: 0;
}

.input-field {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 7px;
  border: 1px solid #00000015;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.input-field:focus {
  outline: none !important;
  border: 1px solid grey;
}

.input-field:focus + .label-container,
.input-field:not(:placeholder-shown) + .label-container {
  transform: translate(-12px, -15px) scale(0.7);
}

.input-field:focus + .label-container label,
.input-field:not(:placeholder-shown) + .label-container label {
  color: #666666;
}


.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.login-button {
  margin: auto;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  border: 0;
  background-color: #f862ee;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}