body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: deeppink;
}

form {
	background-color: #f38fe2;
	width: 140px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(200, 97, 209, 0.2);
}

input[type="file"] {
	margin-bottom: 10px;
}

label[for="music-select"] {
	display: block;
	position: center;
}
#music-select {
	display: none;
}

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

audio {
	display: block;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
}